.App {
  text-align: center;
  background-image: url("assets/background.jpg");
  background-repeat: repeat-y;
  color:white;
  min-height: 100vh;
}

.centerElement {
  display: flex;
  align-items: center;
  justify-content: center;
}